#!/bin/rc

. /usr/firepkg/make.conf

# vars
src='https://dl.discordapp.net/apps/linux/0.0.21/discord-0.0.21.tar.gz'
basename=`{basename $src}
destdir=/usr/firepkg/packages/discord

# setup destdir
rm -r $destdir >[2=]
mkdir $destdir
cd $destdir

# download
curl -LO $src
tar -xf $basename
rm $basename

# spooky skeleton
mkdir usr
mkdir usr/lib64 
mkdir usr/bin 
mkdir usr/share
mkdir usr/share/applications
mkdir usr/share/icons
mkdir usr/share/icons/hicolor

echo copying files...
mv Discord usr/lib64/discord
mv usr/lib64/discord/discord.desktop usr/share/applications
mv usr/lib64/discord/discord.png usr/share/icons/hicolor
ln -s /usr/lib64/discord/Discord usr/bin/discord
sed -i usr/share/applications/discord.desktop -e 's|^Exec=.*$|Exec=/usr/bin/discord|'

echo makepkg...
firepkg makepkg $destdir

echo installing...
firepkg -i $destdir.tar.xz
