#!/bin/rc

. /usr/firepkg/make.conf

# vars
src='https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64&lang=en-US'
destdir=/usr/firepkg/packages/firefox

# setup destdir
rm -r $destdir >[2=]
mkdir $destdir
cd $destdir

# download
curl -Lo firefox.tar.bz2 $src
tar -xf firefox.tar.bz2
rm firefox.tar.bz2

# skeleton
mkdir usr
mkdir usr/lib64
mkdir usr/bin

echo copying files...
mv firefox usr/lib64
ln -s /usr/lib64/firefox/firefox-bin usr/bin/firefox

echo makepkg...
firepkg makepkg $destdir

echo installing...
firepkg -i $destdir.tar.xz
