#!/bin/rc

. /usr/firepkg/make.conf

# vars
src='https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64&lang=en-US'
destdir=/usr/firepkg/packages/firefox

# setup destdir
rm -rf $destdir
mkdir -p $destdir/usr
cd $destdir/usr

# download
curl -Lo firefox.tar.bz2 $src
bsdtar -xf firefox.tar.bz2
rm firefox.tar.bz2

echo Copying files...
mkdir lib64 bin

cd lib64
mv ../firefox .
cd ..

cd bin
ln -s /usr/lib64/firefox/firefox-bin firefox
cd ..

echo Running makepkg...
firepkg makepkg $destdir

echo Installing...
firepkg install $destdir.tar.xz
