#!/bin/rc

. /usr/firepkg/make.conf

# vars
src=https://download.documentfoundation.org/libreoffice/stable/7.4.1/rpm/x86_64/LibreOffice_7.4.1_Linux_x86-64_rpm.tar.gz
basename=`{basename $src .tar.gz}
destdir=/usr/firepkg/packages/libreoffice7.4

# setup destdir
rm -rf $destdir
mkdir -p $destdir/usr
cd $destdir/usr

# download
curl -LO $src
bsdtar -xf $basename.tar.gz
rm $basename.tar.gz

echo Copying files...
mv * $basename
find $basename/RPMS -name '*.rpm' -exec bsdtar -C $destdir -xf '{}' ';'
rm -rf $basename
mv ../opt lib64

cd bin
ln -sf /usr/lib64/libreoffice7.4/program/soffice libreoffice7.4
cd ..

cd lib64
mv libreoffice7.4/share/xdg/*.desktop ../share/applications
cd ..

echo Running makepkg...
firepkg makepkg $destdir

echo Installing...
firepkg install $destdir.tar.xz
