#!/bin/rc

. /usr/firepkg/make.conf

*=(signal-desktop)
src='https://updates.signal.org/desktop/apt/pool/main/s/signal-desktop/signal-desktop_5.60.0_amd64.deb'
destdir=/usr/firepkg/packages/$1

cd /usr/firepkg/sources
curl -Lko signal-desktop.deb $src

echo extracting...
bsdtar -xf signal-desktop.deb data.tar.xz 
bsdtar -xf data.tar.xz

echo installing...
rm -rf usr/share/doc
rm -rf $destdir
mkdir -p $destdir/usr/lib64
mv opt/Signal $destdir/usr/lib64/signal-desktop
mv usr/share $destdir/usr

# echo cleaning up...
rm -d opt usr

echo makepkg...
firepkg makepkg $destdir

echo installing...
firepkg install $destdir.tar.xz
