#!/bin/rc

. /usr/firepkg/make.conf

# vars
src='https://updates.signal.org/desktop/apt/pool/main/s/signal-desktop/signal-desktop_5.60.0_amd64.deb'
basename=`{basename $src}
destdir=/usr/firepkg/packages/signal-desktop

# prepare destdir
rm -rf $destdir
mkdir -p $destdir
cd $destdir

# download
curl -LO $src
ar x $basename data.tar.xz
rm $basename

echo Copying files...
tar -xf data.tar.xz
rm -rf usr/share/doc
mkdir usr/bin usr/lib64
sed -i usr/share/applications/signal-desktop.desktop -e 's|/opt/Signal|/usr/bin|'
mv opt/Signal usr/lib64/signal-desktop
rm -d opt

cd usr/bin
ln -sf /usr/lib64/signal-desktop/signal-desktop signal-desktop
cd ../..

echo Running makepkg...
firepkg makepkg $destdir

echo Installing...
firepkg install $destdir.tar.xz
