#!/bin/rc

. /usr/firepkg/make.conf

# vars
src='https://updates.signal.org/desktop/apt/pool/main/s/signal-desktop/signal-desktop_5.60.0_amd64.deb'
basename=`{basename $src}
destdir=/usr/firepkg/packages/signal-desktop

# prepare destdir
rm -r $destdir >[2=]
mkdir $destdir
cd $destdir

# download
curl -LO $src
ar x $basename data.tar.xz
rm $basename

# skeleton
mkdir usr
mkdir usr/lib64
mkdir usr/bin

echo copying files...
tar -xf data.tar.xz
sed -i usr/share/applications/signal-desktop.desktop -e 's|/opt/Signal|/usr/bin|'
mv opt/Signal usr/lib64/signal-desktop
ln -sf /usr/lib64/signal-desktop/signal-desktop usr/bin/signal-desktop

echo cleanup...
rm -d opt
rm -r usr/share/doc
rm data.tar.xz

echo makepkg...
firepkg makepkg $destdir

echo installing...
firepkg -i $destdir.tar.xz
