#!/bin/rc

. /usr/firepkg/make.conf

# vars
src=https://github.com/rstudio/tinytex-releases/releases/download/v2022.08/TinyTeX-1-v2022.08.tar.gz
basename=`{basename $src}
destdir=/usr/firepkg/packages/tinytex

# setup destdir
rm -rf $destdir
mkdir -p $destdir/usr
cd $destdir/usr

# download
curl -LO $src
bsdtar -xf $basename
rm $basename

echo Copying files...
mkdir bin lib64

cd lib64
mv ../.TinyTeX tinytex
cd ..

cd bin
for(f in ../lib64/tinytex/bin/x86_64-linux/*) 
    ln -s `{echo $f | sed 's|^..|/usr|'} `{basename $f}
cd ..

echo Running makepkg...
firepkg makepkg $destdir

echo Installing...
firepkg install $destdir.tar.xz
