#!/bin/rc

. /usr/firepkg/make.conf

src=https://w1.fi/releases/wpa_supplicant-2.10.tar.gz
basename=`{basename $src}
md5sum=d26797fcb002898d4ee989179346e1cc
destdir=/usr/firepkg/packages/wpa_supplicant

cd /usr/firepkg/sources

curl -LO $src
echo $md5sum $basename |
    md5sum -c

rm -r wpa_supplicant >[2=]
mkdir wpa_supplicant
tar -C wpa_supplicant --strip-components=1 -xf $basename
cd wpa_supplicant

>>wpa_supplicant/.config {
    echo 'CONFIG_BACKEND=file'
    echo 'CONFIG_CTRL_IFACE=y'
    echo 'CONFIG_DEBUG_FILE=y'
    echo 'CONFIG_DEBUG_SYSLOG=y'
    echo 'CONFIG_DEBUG_SYSLOG_FACILITY=LOG_DAEMON'
    echo 'CONFIG_DRIVER_NL80211=y'
    echo 'CONFIG_DRIVER_WEXT=y'
    echo 'CONFIG_DRIVER_WIRED=y'
    echo 'CONFIG_EAP_GTC=y'
    echo 'CONFIG_EAP_LEAP=y'
    echo 'CONFIG_EAP_MD5=y'
    echo 'CONFIG_EAP_MSCHAPV2=y'
    echo 'CONFIG_EAP_OTP=y'
    echo 'CONFIG_EAP_PEAP=y'
    echo 'CONFIG_EAP_TLS=y'
    echo 'CONFIG_EAP_TTLS=y'
    echo 'CONFIG_IEEE8021X_EAPOL=y'
    echo 'CONFIG_IPV6=y'
    echo 'CONFIG_LIBNL32=y '
    echo 'CONFIG_PEERKEY=y'
    echo 'CONFIG_PKCS12=y'
    echo 'CONFIG_READLINE=y'
    echo 'CONFIG_SMARTCARD=y'
    echo 'CONFIG_WPS=y'
    echo 'CFLAGS += -I/usr/include/libnl3'
    echo 'CONFIG_CTRL_IFACE_DBUS=y'
    echo 'CONFIG_CTRL_IFACE_DBUS_NEW=y'
    echo 'CONFIG_CTRL_IFACE_DBUS_INTRO=y'
}

cd wpa_supplicant &&
make BINDIR=/usr/sbin LIBDIR=/usr/lib64

mkdir -p $destdir/usr/sbin
mkdir -p $destdir/usr/share/man/man5
mkdir -p $destdir/usr/share/man/man8
mkdir -p $destdir/usr/share/dbus-1/system-services
mkdir -p $destdir/etc/dbus-1/system.d

cp wpa_cli wpa_passphrase wpa_supplicant $destdir/usr/sbin
cp doc/docbook/wpa_supplicant.conf.5 $destdir/usr/share/man/man5
cp doc/docbook/wpa_cli $destdir/usr/share/man/man8
cp doc/docbook/wpa_passphrase $destdir/usr/share/man/man8
cp doc/docbook/wpa_supplicant $destdir/usr/share/man/man8
cp dbus/dbus-wpa_supplicant.conf $destdir/etc/dbus-1/system.d

firepkg makepkg $destdir
firepkg -i $destdir.tar.xz
