#!/bin/rc

. /usr/firepkg/make.conf

fn emerge {
    for(i in $*) {
        firepkg build $i
        firepkg -i /usr/firepkg/packages/$i.tar.xz
    }
}

make -C /usr/firepkg

# track libraries
emerge pkgconf

# gzip
emerge zlib pigz

# python3
emerge libressl python3

# python3-modules
python3 -m ensurepip 
python3 -m pip install meson 

# self-host glibc
emerge bison glibc

# perl
emerge perl

# self-host gcc
emerge texinfo binutils 
emerge gmp mpfr libmpc gcc

# ncurses
emerge ncurses
for (lib in (ncurses form panel menu)) {
    rm /usr/lib64/lib$lib.so
    echo 'INPUT(-l'^$lib^'w)' > /usr/lib64/lib$lib.so
    ln -sf $lib^w.pc /usr/lib64/pkgconfig/$lib.pc
}
rm /usr/lib64/libcursesw.so
echo 'INPUT(-lncursesw)' > /usr/lib64/libcursesw.so
ln -sf libncurses.so /usr/lib64/libcurses.so

# build utils
emerge cmake ninja

# more utils
emerge bc
emerge flex
emerge gettext 
emerge gperf 
emerge util-linux

# libraries
emerge libcap2 libcheck libffi
emerge libpipeline libpsl libusb 
emerge file json-c popt readline
emerge eudev libusb usbutils
emerge libexpat dbus
emerge libaio lvm2

# system
emerge e2fsprogs 
emerge kbd kmod 
emerge less
emerge mandoc man-pages
emerge procps-ng psmisc
emerge shadow-utils
emerge tzdata
emerge vim
emerge openssh which 

# system-dev
emerge autoconf automake
emerge cron
emerge git
emerge gnupg1
emerge parted
emerge sudo
emerge tcsh
emerge tmux
emerge xorriso

# networking
emerge iproute2 iputils
emerge curl dhcpcd wget

# compression
emerge bzip2 lzo zstd

# linux
emerge acpid2
emerge alsa-lib alsa-utils
emerge btrfsprogs
emerge cryptsetup
emerge dosfstools
emerge efivar efibootmgr 
emerge lm-sensors
emerge pciutils
emerge usbutils

# rebuild
emerge m4
emerge bash
emerge coreutils 
emerge diffutils
emerge findutils 
emerge gawk 
emerge grep 
emerge make 
emerge patch
emerge sed 
emerge tar
emerge xz
emerge rc
