#!/bin/rc

# download stage
srcdir=/usr/firepkg/sources
rm -r $srcdir >[2=]
mkdir $srcdir
cd    $srcdir

firepkg download \
    m4 bash coreutils diffutils findutils \
    gawk grep make patch sed \
    tar xz rc \
    pkgconf \
    zlib pigz libressl python3 \
    bison glibc \
    perl \
    texinfo binutils \
    gmp mpfr libmpc gcc \
    ncurses \
    cmake ninja \
    bc flex gettext gperf util-linux \
    dbus eudev file json-c libaio \
    libcap2 libcheck libexpat libevent libffi \
    libpipeline libpsl libusb lvm2 pcre2 \
    pcre popt readline \
    e2fsprogs \
    kbd kmod \
    man-pages mandoc \
    procps-ng psmisc \
    tzdata \
    shadow-utils \
    vim less \
    which openssh \
    curl dhcpcd iproute2 wget \
    glib2 libmnl libnftnl iptables connman \
    bzip2 lzo zstd \
    autoconf automake git gnupg1 \
    parted sudo tcsh tmux xorriso \
    alsa-lib alsa-utils \
    acpid2 lm-sensors pciutils usbutils \
    efivar efibootmgr \
    dosfstools btrfsprogs cryptsetup \


# symlink for perl
ln -s configure.gnu $srcdir/perl/configure

# symlink for libstdc++
ln -sf gcc libstdc++

# cron is a shar
mkdir $srcdir/cron
cd $srcdir/cron
curl -LO https://ftp.isc.org/isc/cron/cron_4.1.shar
sh cron_4.1.shar
patch -p1 < ../../patches/cron.diff

# download libs for gcc
cd $srcdir/gcc
./contrib/download_prerequisites

# create archive
tar -cf $srcdir.tar $srcdir
