#!/bin/rc

# current db versions
{ for(p in `{awk '{gsub(/.*=\(/, ""); print $1}' /usr/firepkg/db/base.db | grep -v '#' | grep -v '^$' | grep -v 'libdir' | grep -v ')'}) 
    awk '/'$p'/ {print $2}' /usr/firepkg/db/url.db } | sort | uniq > current.txt

# distrowatch urls
curl https://distrowatch.com/packages.php | grep '<td><a href=' | awk -F'"' '{print $2}' | sed 's/ftp.gnu.org.gnu/ftpmirror.gnu.org/' | sort | uniq > distrowatch.txt

diff current.txt distrowatch.txt | awk '/</ {print $2}' > pass1.txt

# check with Arch Linux


# download distrowatch
curl https://distrowatch.com/packages.php | 
sed '
    s/Python/python3/g;
    s/lvm/lvm2/g' >distrowatch.html

fn dw {
    grep $1 distrowatch.html | 
    awk '/<td><a href=/ {
            gsub(/>/, " "); 
            gsub(/</, " "); 
            print $4;
        }'
}

fn archlinux {
    # L=(pkgname archpkg repo)
    L=`{vlook $1}
    curl https://archlinux.org/packages/$L(3)/x86_64/$L(2)/ >[2=] | 
        awk -F'"' '/meta itemprop="version"/{print $4}'
}

fn vlook {
    grep '^'$1 metadata.db
}

fn clean {
    rm distrowatch.html
}
