#!/bin/rc

. /usr/firepkg/make.conf

fn emerge {
    for(i in $*) {
        firepkg build $i
        firepkg -i /usr/firepkg/packages/$i.tar.xz
    }
}

make -C /usr/firepkg

# track libraries
emerge pkgconf

# gzip
emerge zlib pigz

# python3
emerge libressl python3

# python3-modules
python3 -m ensurepip 
python3 -m pip install meson 

# self-host glibc
emerge bison glibc

# perl
emerge perl

# binutils
emerge texinfo binutils 

# self-host gcc
emerge gmp mpfr libmpc gcc

# ncurses
emerge ncurses
for (lib in (ncurses form panel menu)) {
    rm /usr/lib64/lib$lib.so
    echo 'INPUT(-l'^$lib^'w)' > /usr/lib64/lib$lib.so
    ln -sf $lib^w.pc /usr/lib64/pkgconfig/$lib.pc
}
rm /usr/lib64/libcursesw.so
echo 'INPUT(-lncursesw)' > /usr/lib64/libcursesw.so
ln -sf libncurses.so /usr/lib64/libcurses.so

# buildtools
emerge autoconf automake cmake ninja

# more tools
emerge bc flex gettext gperf util-linux

# libraries
emerge eudev expat file popt readline
emerge libaio libcap2 libcheck libevent
emerge libffi libpipeline libpsl libusb 
emerge dbus json-c lvm2 pcre2 pcre

# system
emerge e2fsprogs 
emerge kbd kmod 
emerge less
emerge mandoc man-pages
emerge procps-ng psmisc
emerge shadow-utils
emerge tzdata
emerge vim
emerge which 

# uefi
emerge efivar efibootmgr dosfstools

# networking
emerge iproute2 iputils
emerge curl wget

# connman
emerge glib2 libmnl libnftnl iptables connman 

# compression
emerge bzip2 zstd

# linux
emerge alsa-lib alsa-utils \
    acpid2 cryptsetup lm-sensors pciutils usbutils

# extra
emerge cron git openssh sudo tcsh tmux \
    gnupg1 parted xorriso

# rebuild toolchain
emerge m4 bash coreutils diffutils findutils \
    gawk grep make patch sed tar xz rc
