#!/bin/rc

srcdir=/usr/firepkg/sources

rm -r $srcdir >[2=]
mkdir $srcdir

fn download {
    for(i in $*)
        firepkg download $i >[2=1] | grep -e 'OK' -e 'FAILED'
}

download \
    m4 bash coreutils diffutils findutils \
    gawk grep make patch sed tar xz rc \
    pkgconf \
    zlib pigz \
    libressl python3 \
    bison glibc \
    perl \
    texinfo binutils \
    gmp mpfr libmpc gcc \
    ncurses \
    autoconf automake cmake ninja \
    bc flex gettext gperf util-linux \
    eudev file popt \
    libaio libcap2 libcheck libexpat libevent \
    libffi libpipeline libpsl libusb \
    json-c lvm2 dbus pcre2 pcre \
    readline \
    e2fsprogs \
    shadow \
    kbd kmod \
    procps-ng psmisc \
    man-pages mandoc \
    tzdata \
    bzip2 zstd \
    iproute2 iputils \
    curl wget \
    vim less which \
    efivar efibootmgr dosfstools \
    glib2 libmnl libnftnl iptables connman \
    alsa-lib alsa-utils \
    acpid2 cryptsetup lm-sensors pciutils usbutils \
    git sudo openssh tmux tcsh \
    gnupg1 parted xorriso \

# symlink for perl
ln -s configure.gnu $srcdir/perl/configure

# symlink for libstdc++
ln -sf gcc $srcdir/libstdc++

# cron is a shar
mkdir $srcdir/cron && cd $srcdir/cron
curl -LO https://ftp.isc.org/isc/cron/cron_4.1.shar
sh cron_4.1.shar
patch -p1 < ../../patches/cron.diff

# download libs for gcc
cd $srcdir/gcc
./contrib/download_prerequisites

# create archive
cd $srcdir/..
tar -cf sources.tar sources
