#!/bin/rc

. /usr/firepkg/make.conf

fn emerge {
    for(i) {
        firepkg build $i
        firepkg -i /usr/firepkg/packages/$i-*-x86_64.tar.xz
    }
}

make -C /usr/firepkg

# copy iana-etc
cp /usr/firepkg/sources/iana-etc/protocols /etc/protocols
cp /usr/firepkg/sources/iana-etc/services  /etc/services

# pkg-config
emerge pkgconf

# compression
##############
emerge zlib 
emerge pigz
emerge bzip2 zstd

# python3
##########
emerge libressl libffi python3
python3 -m ensurepip 
python3 -m pip install meson 

# self-host glibc
emerge bison glibc

# create locales after glibc
mkdir -p /usr/lib64/locale
localedef -i POSIX -f UTF-8 C.UTF-8 2> /dev/null || true
localedef -i cs_CZ -f UTF-8 cs_CZ.UTF-8
localedef -i de_DE -f ISO-8859-1 de_DE
localedef -i de_DE@euro -f ISO-8859-15 de_DE@euro
localedef -i de_DE -f UTF-8 de_DE.UTF-8
localedef -i el_GR -f ISO-8859-7 el_GR
localedef -i en_GB -f ISO-8859-1 en_GB
localedef -i en_GB -f UTF-8 en_GB.UTF-8
localedef -i en_HK -f ISO-8859-1 en_HK
localedef -i en_PH -f ISO-8859-1 en_PH
localedef -i en_US -f ISO-8859-1 en_US
localedef -i en_US -f UTF-8 en_US.UTF-8
localedef -i es_ES -f ISO-8859-15 es_ES@euro
localedef -i es_MX -f ISO-8859-1 es_MX
localedef -i fa_IR -f UTF-8 fa_IR
localedef -i fr_FR -f ISO-8859-1 fr_FR
localedef -i fr_FR@euro -f ISO-8859-15 fr_FR@euro
localedef -i fr_FR -f UTF-8 fr_FR.UTF-8
localedef -i is_IS -f ISO-8859-1 is_IS
localedef -i is_IS -f UTF-8 is_IS.UTF-8
localedef -i it_IT -f ISO-8859-1 it_IT
localedef -i it_IT -f ISO-8859-15 it_IT@euro
localedef -i it_IT -f UTF-8 it_IT.UTF-8
localedef -i ja_JP -f EUC-JP ja_JP
localedef -i ja_JP -f SHIFT_JIS ja_JP.SJIS 2> /dev/null || true
localedef -i ja_JP -f UTF-8 ja_JP.UTF-8
localedef -i nl_NL@euro -f ISO-8859-15 nl_NL@euro
localedef -i ru_RU -f KOI8-R ru_RU.KOI8-R
localedef -i ru_RU -f UTF-8 ru_RU.UTF-8
localedef -i se_NO -f UTF-8 se_NO.UTF-8
localedef -i ta_IN -f UTF-8 ta_IN.UTF-8
localedef -i tr_TR -f UTF-8 tr_TR.UTF-8
localedef -i zh_CN -f GB18030 zh_CN.GB18030
localedef -i zh_HK -f BIG5-HKSCS zh_HK.BIG5-HKSCS
localedef -i zh_TW -f UTF-8 zh_TW.UTF-8

# perl
emerge perl

# binutils
emerge texinfo binutils 

# self-host gcc
emerge gmp mpfr libmpc gcc


# buildtools
emerge autoconf automake 
emerge cmake 
emerge ninja

# additional tools
###################
emerge bc 
emerge flex gettext gperf which
emerge util-linux e2fsprogs shadow

# ncurses
emerge ncurses
for (lib in (ncurses form panel menu)) {
    rm /usr/lib64/lib$lib.so
    echo 'INPUT(-l'^$lib^'w)' > /usr/lib64/lib$lib.so
    ln -sf $lib^w.pc /usr/lib64/pkgconfig/$lib.pc
}
rm /usr/lib64/libcursesw.so
echo 'INPUT(-lncursesw)' > /usr/lib64/libcursesw.so
ln -sf libncurses.so /usr/lib64/libcurses.so

# libraries
############
emerge attr acl
emerge eudev expat file json-c popt readline 
emerge libaio libcap2 libcheck libevent libpsl libusb
emerge pcre2 pcre
emerge lvm2

# system-software
##################
emerge kbd kmod 
emerge mandoc man-pages
emerge procps-ng psmisc
emerge efivar efibootmgr dosfstools 
emerge alsa-lib alsa-utils
emerge acpid2 cryptsetup pciutils usbutils 
emerge cron git openssh sudo tmux tzdata vim
emerge less parted 
emerge lua
emerge zip unzip

# networking
#############
emerge iproute2 iputils
emerge curl dhcpcd
emerge dbus iwd
/usr/sbin/update-ca-certificates

# toolchain
############
emerge m4 bash coreutils diffutils findutils
emerge gawk grep make patch sed tar xz 
emerge rc
