#!/bin/rc

. /usr/firepkg/make.conf

fn emerge {
    for(i in $*) {
        firepkg build $i
        firepkg -i /usr/firepkg/packages/$i.tar.xz
    }
}

make -C /usr/firepkg

# pkg-config
emerge pkgconf

# compression
##############
emerge zlib pigz
emerge bzip2 zstd

# python3
##########
emerge libressl libffi python3
python3 -m ensurepip 
python3 -m pip install meson 

# self-host glibc
emerge bison glibc

# perl
emerge perl

# binutils
emerge texinfo binutils 

# self-host gcc
emerge gmp mpfr libmpc gcc


# buildtools
emerge autoconf automake cmake ninja

# additional tools
###################
emerge bc flex gettext gperf util-linux
emerge e2fsprogs 
emerge shadow

# ncurses
emerge ncurses
for (lib in (ncurses form panel menu)) {
    rm /usr/lib64/lib$lib.so
    echo 'INPUT(-l'^$lib^'w)' > /usr/lib64/lib$lib.so
    ln -sf $lib^w.pc /usr/lib64/pkgconfig/$lib.pc
}
rm /usr/lib64/libcursesw.so
echo 'INPUT(-lncursesw)' > /usr/lib64/libcursesw.so
ln -sf libncurses.so /usr/lib64/libcurses.so

# libraries
############
emerge attr acl
emerge eudev expat file json-c popt readline 
emerge libaio libcap2 libcheck libevent libpipeline libpsl libusb
emerge pcre2 pcre
emerge lvm2

# system-software
##################
emerge kbd kmod 
emerge mandoc man-pages
emerge procps-ng psmisc
emerge efivar efibootmgr dosfstools 
emerge cron git openssh sudo tcsh tmux tzdata vim
emerge alsa-lib alsa-utils
emerge acpid2 cryptsetup lm-sensors pciutils usbutils 
# gnu
emerge gnupg1 less parted which xorriso

# networking
#############
emerge iproute2 iputils
emerge curl wget dhcpcd

# connman
##########
emerge libmnl libnftnl iptables
emerge dbus glib2 libnl3
/usr/firepkg/binary/wpa_supplicant.rc
emerge connman

# toolchain
############
emerge m4 bash coreutils diffutils findutils
emerge gawk grep make patch sed tar xz rc
