#!/bin/rc

. /usr/firepkg/functions.rc


λ=$1 && shift

if(~ $#* 0) {
    switch($λ) {
    case timesync
        _timesync
    case backup
        /usr/firepkg/misc/backup.rc
    case -h *
        echo 'Usage: firepkg [-SRih|makepkg|chroot|download|build|timesync|backup] [arg ...]'
    }
}

if not for(i) {
    # set env
    pkgname=`{basename $i}
    destdir=/usr/firepkg/packages/$pkgname
    patchfile=/usr/firepkg/patches/$pkgname.diff
    uninstaller=/usr/firepkg/uninstall/rm-$pkgname.rc

    switch($λ){
    case -S
        _uninstall $pkgname &&
        _download $pkgname &&
        _build $pkgname &&
        _install /usr/firepkg/packages/$i-$version-x86_64.tar.xz
    case -R
        _uninstall $pkgname
    case -i
        _install $i
    case makepkg download build
        _$λ $i
    case chroot
        _chroot $i
    }
} 
